.gif{
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    flex-direction: column;
    text-decoration: none;
    display: flex;
    margin: 16px;
    width: 100%;
}

.gif img{
    object-fit: contain;
}

.gif h4{
    margin: 0;
}